In [4]:
# =============================================
# STEP 1: Load and Validate Raw ESG Dataset
# =============================================
import pandas as pd

# Load raw data (no header)
df = pd.read_csv("data/company_esg_financial_dataset.csv", header=None)

# Assign CORRECT column names (based on your data structure)
columns = [
    "company_id",
    "company_name",
    "industry",
    "region",
    "year",
    "revenue",
    "profit_margin",
    "market_cap",
    "growth_rate",
    "esg_overall",
    "esg_environmental",
    "esg_social",
    "esg_governance",          # ✅ This is the correct name
    "carbon_emissions",
    "water_usage",
    "energy_consumption"
]

df.columns = columns

# Convert to numeric (safe)
numeric_cols = [
    "year", "revenue", "profit_margin", "market_cap", "growth_rate",
    "esg_overall", "esg_environmental", "esg_social", "esg_governance",
    "carbon_emissions", "water_usage", "energy_consumption"
]
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Show first 5 rows
print("✅ Data loaded successfully!")
print("\nFirst 5 rows:")
df.head()

,company_id,company_name,industry,region,year,revenue,profit_margin,market_cap,growth_rate,esg_overall,esg_environmental,esg_social,esg_governance,carbon_emissions,water_usage,energy_consumption
0,CompanyID,CompanyName,Industry,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Company_1,Retail,Latin America,2015.0,459.2,6.0,337.5,NaN,57.0,60.7,33.5,76.8,35577.4,17788.7,71154.7
2,1,Company_1,Retail,Latin America,2016.0,473.8,4.6,366.6,3.2,56.7,58.9,32.8,78.5,37314.7,18657.4,74629.4
3,1,Company_1,Retail,Latin America,2017.0,564.9,5.2,313.4,19.2,56.5,57.6,34.0,77.8,45006.4,22503.2,90012.9
4,1,Company_1,Retail,Latin America,2018.0,558.4,4.3,283.0,-1.1,58.0,62.3,33.4,78.3,42650.1,21325.1,85300.2